{"swagger":"2.0","info":{"version":"1","title":"청약홈 청약접수 경쟁률 및 특별공급 신청현황 조회 서비스","description":"한국부동산원 '청약홈'에서 제공하는 청약접수 경쟁률 및 특별공급 신청현황 조회 서비스로 APT(민간사전청약 및 신혼희망타운 포함), 오피스텔/도시형/민간임대/생활숙박시설, 공공지원 민간임대, 취소후재공급, 잔여세대, 임의공급의 분양정보/경쟁률 등의 데이터를 제공합니다.\n\n※ 관련 기술문서는 아래 URL을 통해 확인하시기 바랍니다.\nhttps://www.reb.or.kr/reb/na/ntt/selectNttInfo.do?mi=10251&bbsId=1268&nttSn=82345\n-----------------------------------------------------------------------------\n ** EQ(Equal) : =\n ** LT(Little) : <\n ** LTE(Little or Equal) : <=\n ** GT(Greater) : >\n ** GTE(Greater or Equal) : >="},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/ApplyhomeInfoCmpetRtSvc/v1/getAPTLttotPblancCmpet":{"get":{"tags":["API 목록"],"summary":"APT 분양정보/경쟁률 조회","operationId":"getgetAPTLttotPblancCmpet","description":"주택관리번호, 공고번호, 거주코드 값을 이용하여 APT 분양정보 및 경쟁률 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false},{"name":"cond[RESIDE_SECD::EQ]","in":"query","description":"거주코드 (01: 해당지역, 02: 기타지역, 03: 기타경기)","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getAPTLttotPblancCmpet_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/ApplyhomeInfoCmpetRtSvc/v1/getUrbtyOfctlLttotPblancCmpet":{"get":{"tags":["API 목록"],"summary":"오피스텔/도시형/민간임대/생활숙박시설 분양정보/경쟁률 조회","operationId":"getgetUrbtyOfctlLttotPblancCmpet","description":"주택관리번호, 공고번호 값을 이용하여 오피스텔/도시형/민간임대/생활숙박시설 분양정보 및 경쟁률 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getUrbtyOfctlLttotPblancCmpet_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/ApplyhomeInfoCmpetRtSvc/v1/getPblPvtRentLttotPblancCmpet":{"get":{"tags":["API 목록"],"summary":"공공지원 민간임대 분양정보/경쟁률 조회","operationId":"getgetPblPvtRentLttotPblancCmpet","description":"주택관리번호, 공고번호 값을 이용하여 공공지원 민간임대 분양정보 및 경쟁률 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false},{"name":"cond[SPSPLY_KND_CODE::EQ]","in":"query","description":"공급유형코드(00: 일반공급, SY: 청년, SN: 신혼부부, SO: 고령자)","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getPblPvtRentLttotPblancCmpet_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/ApplyhomeInfoCmpetRtSvc/v1/getCancResplLttotPblancCmpet":{"get":{"tags":["API 목록"],"summary":"취소후재공급 분양정보/경쟁률 조회","operationId":"getgetCancResplLttotPblancCmpet","description":"주택관리번호, 공고번호 값을 이용하여 취소후재공급 분양정보 및 경쟁률 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getCancResplLttotPblancCmpet_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/ApplyhomeInfoCmpetRtSvc/v1/getRemndrLttotPblancCmpet":{"get":{"tags":["API 목록"],"summary":"잔여세대 분양정보/경쟁률 조회","operationId":"getgetRemndrLttotPblancCmpet","description":"주택관리번호, 공고번호, 사전/사후 구분 값을 이용하여 잔여세대 분양정보 및 경쟁률 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false},{"name":"cond[REMNDR_HSHLD_PBLANC_TYCD::EQ]","in":"query","description":"사전/사후 구분 (01:사후 , 02:사전)","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getRemndrLttotPblancCmpet_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/ApplyhomeInfoCmpetRtSvc/v1/getAptLttotPblancScore":{"get":{"tags":["API 목록"],"summary":"APT 분양정보 당첨가점 조회","operationId":"getgetAptLttotPblancScore","description":"주택관리번호, 공고번호, 거주코드 값을 이용하여 APT 분양정보 당첨가점 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false},{"name":"cond[RESIDE_SECD::EQ]","in":"query","description":"거주코드(01: 해당지역, 02: 기타지역, 03: 기타경기)","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getAptLttotPblancScore_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/ApplyhomeInfoCmpetRtSvc/v1/getOPTLttotPblancCmpet":{"get":{"tags":["API 목록"],"summary":"임의공급 분양정보/경쟁률 조회","operationId":"getgetOPTLttotPblancCmpet","description":"주택관리번호, 공고번호 값을 이용하여 임의공급 분양정보 및 경쟁률 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getOPTLttotPblancCmpet_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/ApplyhomeInfoCmpetRtSvc/v1/getAPTSpsplyReqstStus":{"get":{"tags":["API 목록"],"summary":"APT 특별공급 신청현황 조회","operationId":"getgetAPTSpsplyReqstStus","description":"주택관리번호, 공고번호 값을 이용하여 APT 특별공급 신청현황 정보를 제공","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[HOUSE_MANAGE_NO::EQ]","in":"query","description":"주택관리번호","type":"string","format":"string","required":false},{"name":"cond[PBLANC_NO::EQ]","in":"query","description":"공고번호","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/getAPTSpsplyReqstStus_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"getAPTLttotPblancCmpet_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"MODEL_NO":{"type":"string","description":"모델번호"},"HOUSE_TY":{"type":"string","description":"주택형"},"SUPLY_HSHLDCO":{"type":"integer","description":"공급세대수"},"SUBSCRPT_RANK_CODE":{"type":"integer","description":"순위"},"RESIDE_SECD":{"type":"string","description":"거주코드 (01: 해당지역, 02: 기타지역, 03: 기타경기)"},"RESIDE_SENM":{"type":"string","description":"거주지역"},"REQ_CNT":{"type":"string","description":"접수건수"},"CMPET_RATE":{"type":"string","description":"경쟁률"}}},"getAPTLttotPblancCmpet_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getAPTLttotPblancCmpet_model"}}}},"getUrbtyOfctlLttotPblancCmpet_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"MODEL_NO":{"type":"string","description":"모델번호"},"HOUSE_TY":{"type":"string","description":"주택형"},"SUPLY_HSHLDCO":{"type":"integer","description":"공급세대수"},"RESIDNT_PRIOR_AT":{"type":"string","description":"거주자 우선여부"},"RESIDNT_PRIOR_SENM":{"type":"string","description":"공급구분명"},"REQ_CNT":{"type":"string","description":"접수건수"},"CMPET_RATE":{"type":"string","description":"경쟁률"}}},"getUrbtyOfctlLttotPblancCmpet_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getUrbtyOfctlLttotPblancCmpet_model"}}}},"getPblPvtRentLttotPblancCmpet_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"MODEL_NO":{"type":"string","description":"모델번호"},"HOUSE_TY":{"type":"string","description":"주택형"},"SUPLY_HSHLDCO":{"type":"integer","description":"공급세대수"},"SPSPLY_KND_CODE":{"type":"string","description":"공급유형코드(00: 일반공급, SY: 청년, SN: 신혼부부, SO: 고령자)"},"SPSPLY_KND_NM":{"type":"string","description":"공급유형"},"SPSPLY_KND_HSHLDCO":{"type":"integer","description":"배정세대수(공급유형별)"},"REQ_CNT":{"type":"string","description":"접수건수"},"CMPET_RATE":{"type":"string","description":"경쟁률"}}},"getPblPvtRentLttotPblancCmpet_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getPblPvtRentLttotPblancCmpet_model"}}}},"getCancResplLttotPblancCmpet_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"MODEL_NO":{"type":"string","description":"모델번호"},"HOUSE_TY":{"type":"string","description":"주택형"},"SUPLY_HSHLDCO":{"type":"integer","description":"공급세대수"},"NORMAL_HSHLDCO":{"type":"integer","description":"일반공급 배정세대수"},"MNYCH_HSHLDCO":{"type":"integer","description":"다자녀가구 배정세대수"},"NWWDS_HSHLDCO":{"type":"integer","description":"신혼부부 배정세대수"},"LFE_FRST_HSHLDCO":{"type":"integer","description":"생애최초 배정세대수"},"OLD_PARNTS_SUPORT_HSHLDCO":{"type":"integer","description":"노부모부양 배정세대수"},"INSTT_RECOMEND_HSHLDCO":{"type":"integer","description":"기관추천 배정세대수"},"NORMAL_REQ_CNT":{"type":"string","description":"일반공급 접수건수"},"MNYCH_REQ_CNT":{"type":"string","description":"다자녀가구 접수건수"},"NWWDS_REQ_CNT":{"type":"string","description":"신혼부부 접수건수"},"LFE_FRST_REQ_CNT":{"type":"string","description":"생애최초 접수건수"},"OLD_PARNTS_SUPORT_REQ_CNT":{"type":"string","description":"노부모부양 접수건수"},"INSTT_RECOMEND_REQ_CNT":{"type":"string","description":"기관추천 접수건수"},"NORMAL_CMPET_RATE":{"type":"string","description":"일반공급 경쟁률"},"MNYCH_CMPET_RATE":{"type":"string","description":"다자녀가구 경쟁률"},"NWWDS_CMPET_RATE":{"type":"string","description":"신혼부부 경쟁률"},"LFE_FRST_CMPET_RATE":{"type":"string","description":"생애최초 경쟁률"},"OLD_PARNTS_SUPORT_CMPET_RATE":{"type":"string","description":"노부모부양 경쟁률"},"INSTT_RECOMEND_CMPET_RATE":{"type":"string","description":"기관추천 경쟁률"}}},"getCancResplLttotPblancCmpet_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getCancResplLttotPblancCmpet_model"}}}},"getRemndrLttotPblancCmpet_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"REMNDR_HSHLD_PBLANC_TYCD":{"type":"string","description":"사전/사후 구분 (01:사후 , 02:사전)"},"HOUSE_TY":{"type":"string","description":"주택형"},"SUPLY_HSHLDCO":{"type":"integer","description":"공급세대수"},"REQ_CNT":{"type":"string","description":"접수건수"},"CMPET_RATE":{"type":"string","description":"경쟁률"}}},"getRemndrLttotPblancCmpet_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getRemndrLttotPblancCmpet_model"}}}},"getAptLttotPblancScore_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"MODEL_NO":{"type":"string","description":"모델번호"},"HOUSE_TY":{"type":"string","description":"주택형"},"RESIDE_SECD":{"type":"string","description":"거주코드(01: 해당지역, 02: 기타지역, 03: 기타경기)"},"RESIDE_SENM":{"type":"string","description":"거주지역"},"LWET_SCORE":{"type":"string","description":"최저당첨가점"},"TOP_SCORE":{"type":"string","description":"최고당첨가점"},"AVRG_SCORE":{"type":"string","description":"평균당첨가점"}}},"getAptLttotPblancScore_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getAptLttotPblancScore_model"}}}},"getOPTLttotPblancCmpet_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"HOUSE_TY":{"type":"string","description":"주택형"},"SUPLY_HSHLDCO":{"type":"integer","description":"공급세대수"},"REQ_CNT":{"type":"string","description":"접수건수"},"CMPET_RATE":{"type":"string","description":"경쟁률"}}},"getOPTLttotPblancCmpet_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getOPTLttotPblancCmpet_model"}}}},"getAPTSpsplyReqstStus_model":{"type":"object","properties":{"HOUSE_MANAGE_NO":{"type":"string","description":"주택관리번호"},"PBLANC_NO":{"type":"string","description":"공고번호"},"HOUSE_TY":{"type":"string","description":"주택형"},"SPSPLY_HSHLDCO":{"type":"integer","description":"공급세대수"},"MNYCH_HSHLDCO":{"type":"integer","description":"다자녀 배정세대수"},"NWWDS_NMTW_HSHLDCO":{"type":"integer","description":"신혼부부 배정세대수"},"LFE_FRST_HSHLDCO":{"type":"integer","description":"생애최초 배정세대수"},"YGMN_HSHLDCO":{"type":"integer","description":"청년 배정세대수"},"OLD_PARNTS_SUPORT_HSHLDCO":{"type":"integer","description":"노부모 배정세대수"},"NWBB_NWBBSHR_HSHLDCO":{"type":"integer","description":"신생아 배정세대수"},"INSTT_RECOMEND_HSHLDCO":{"type":"integer","description":"기관추천 배정세대수"},"TRANSR_INSTT_ENFSN_HSHLDCO":{"type":"integer","description":"이전기관 배정세대수"},"CRSPAREA_MNYCH_CNT":{"type":"integer","description":"해당지역 다자녀 접수건수"},"CTPRVN_MNYCH_CNT":{"type":"integer","description":"기타경기 다자녀 접수건수"},"ETC_AREA_MNYCH_CNT":{"type":"integer","description":"기타지역 다자녀 접수건수"},"CRSPAREA_NWWDS_NMTW_CNT":{"type":"integer","description":"해당지역 신혼부부 접수건수"},"CTPRVN_NWWDS_NMTW_CNT":{"type":"integer","description":"기타경기 신혼부부 접수건수"},"ETC_AREA_NWWDS_NMTW_CNT":{"type":"integer","description":"기타지역 신혼부부 접수건수"},"CRSPAREA_LFE_FRST_CNT":{"type":"integer","description":"해당지역 생애최초 접수건수"},"CTPRVN_LFE_FRST_CNT":{"type":"integer","description":"기타경기 생애최초 접수건수"},"ETC_AREA_LFE_FRST_CNT":{"type":"integer","description":"기타지역 생애최초 접수건수"},"CRSPAREA_YGMN_CNT":{"type":"integer","description":"해당지역 청년 접수건수"},"CTPRVN_YGMN_CNT":{"type":"integer","description":"기타경기 청년 접수건수"},"ETC_AREA_YGMN_CNT":{"type":"integer","description":"기타지역 청년 접수건수"},"CRSPAREA_OPS_CNT":{"type":"integer","description":"해당지역 노부모 접수건수"},"CTPRVN_OPS_CNT":{"type":"integer","description":"기타경기 노부모 접수건수"},"ETC_AREA_OPS_CNT":{"type":"integer","description":"기타지역 노부모 접수건수"},"CRSPAREA_NWBB_NWBBSHR_CNT":{"type":"integer","description":"해당지역 신생아 접수건수"},"CTPRVN_NWBB_NWBBSHR_CNT":{"type":"integer","description":"기타경기 신생아 접수건수"},"ETC_AREA_NWBB_NWBBSHR_CNT":{"type":"integer","description":"기타지역 신생아 접수건수"},"INSTT_RECOMEND_DCSN_CNT":{"type":"integer","description":"기관추천 접수건수"},"INSTT_RECOMEND_PREPAR_CNT":{"type":"integer","description":"기관추천 예비자 접수건수"},"TRANSR_INSTT_ENFSN_CNT":{"type":"integer","description":"이전기관 접수건수"},"SUBSCRPT_RESULT_NM":{"type":"string","description":"청약결과"}}},"getAPTSpsplyReqstStus_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/getAPTSpsplyReqstStus_model"}}}}}}